<?xml version="1.0"?>
<configuration>
  <connectionStrings>

    <add name="PET_VET"
         connectionString = "data source =.; database=pet_vet; integrated security = SSPI"
         providerName ="System.Data.SqlClient"/>

  </connectionStrings>
  
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
</configuration>
